
        .slide-in-right {
            opacity: 0;
            transform: translateX(100px);
            animation: slideInRight 1s forwards;
        }

        @keyframes slideInRight {
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .rotate-in {
            opacity: 0;
            transform: rotate(-15deg);
            animation: rotateIn 1s forwards;
        }

        @keyframes rotateIn {
            to {
                opacity: 1;
                transform: rotate(0);
            }
        }

        .scale-in {
            opacity: 0;
            transform: scale(0.8);
            animation: scaleIn 1s forwards;
        }

        @keyframes scaleIn {
            to {
                opacity: 1;
                transform: scale(1);
            }
        }


        .types-image {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
        }

        .types-image:hover {
            transform: scale(1.05);
        }
